.top-header {
    height: 180px;
    position: relative;
    background: linear-gradient(to bottom right, #e3f2fd, #ffffff);
    transition: height 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .top-header.collapsed {
    height: 0;
  }
  
  .header-bg {
    width: 100%;
    height: 100%;
    /* background: url('../../assets/rectangle.svg') no-repeat center center; */
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .transition-navbar {
    transition: opacity 0.3s ease-in-out;
  }
  
  .transition-navbar.invisible {
    opacity: 0;
    pointer-events: none;
  }
  
  .transition-navbar.visible {
    opacity: 1;
  }
  
  .sticky-top {
    top: -1px !important;
}