// Main theme color
$primary: #E5811E;

// Light Theme
$light-primary-bg: #EDEDED;
$light-secondary-bg: #FFFFFF;
$light-tertiary-bg: #F6F6F6;
$light-header-bg: #F9F9F9;
$light-primary-text: #454545;
$light-secondary-text: #5E5E5E;
$light-gray-primary-text: rgba(0, 0, 0, 0.75);
$light-gray-secondary-text: #B3B3B3;
$light-date-text: #60A5FA;
$light-border: 1px solid rgba(219, 219, 219, 1);

// Dark Theme
$dark-primary-bg: #121212;
$dark-secondary-bg: #1e1e1e;
$dark-tertiary-bg: #2A2A2A;
$dark-header-bg: #1E1E1E;
$dark-primary-text: rgba(255, 255, 255, 0.87);
$dark-secondary-text: #FFFFFFB3;
$dark-gray-primary-text: rgba(255, 255, 255, 0.6);
$dark-gray-secondary-text: #e0e0e0;
$dark-date-text: #60A5FA;
$dark-border: 1px solid rgba(255, 255, 255, 0.24);
// $dark-primary-bg: #242424;
// $dark-secondary-bg: #31333C;
// $dark-tertiary-bg: #3B3D47;
// $dark-header-bg: #24262D;
// $dark-primary-text: #FFFFFF;
// $dark-secondary-text: #FFFFFFB3;
// $dark-gray-primary-text: #a3a3a3;
// $dark-gray-secondary-text: #e0e0e0;

:root {
  --primary: #{$primary};
  --primary-bg: #{$light-primary-bg};
  --secondary-bg: #{$light-secondary-bg};
  --tertiary-bg: #{$light-tertiary-bg};
  --header-bg: #{$light-header-bg};
  --primary-text: #{$light-primary-text};
  --secondary-text: #{$light-secondary-text};
  --gray-primary-text: #{$light-gray-primary-text};
  --gray-secondary-text: #{$light-gray-secondary-text};
  --date-text: #{$light-date-text};
  --border: #{$light-border};

  --green: #00AA08;
  --red: #FF0000;
  --text-blue: #60A5FA;
  --blue-secondary: #0006cc;

  --gray-200: #F2F2F2;

}

[data-theme="dark"] {
  --primary-bg: #{$dark-primary-bg};
  --secondary-bg: #{$dark-secondary-bg};
  --tertiary-bg: #{$dark-tertiary-bg};
  --header-bg: #{$dark-header-bg};
  --primary-text: #{$dark-primary-text};
  --secondary-text: #{$dark-primary-text};
  --gray-primary-text: #{$dark-gray-primary-text};
  --gray-secondary-text: #{$dark-gray-secondary-text};
  --date-text: #{$dark-date-text};
  --border: #{$light-border};
}

// Apply globally
body {
  background: var(--primary-bg);
  color: var(--primary-text);
  transition: background 0.3s ease, color 0.3s ease;
  padding: 0;
  margin: 0;
}

.button {
  background-color: var(--primary);
  color: var(--primary-text);
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.container {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.bg-primary {
  background-color: var(--primary-bg) !important;
}

.bg-secondary {
  background-color: var(--secondary-bg) !important;
}

.bg-tertiary {
  background-color: var(--tertiary-bg) !important;
}

.bg-header {
  background-color: var(--header-bg) !important;
}

.text-gray-primary {
  color: var(--gray-primary-text);
}

.text-gray-secondary {
  color: var(--gray-secondary-text);
}

.bg-footer {
  background-color: var(--secondary-bg) !important;
}

.text-primary {
  color: var(--primary-text) !important;
}

.text-secondary {
  color: var(--secondary-text) !important;
}

.text-blue {
  color: var(--text-blue);
}

.bg-gray-200 {
  background-color: var(--gray-200);
}

.date-text {
  color: var(--date-text);
}