// Main theme color
$light-orange: #DA6901;
$dark-orange: #E5811E;

// Light Theme
$light-primary-bg: #FEFEFE;
$light-secondary-bg: #FFFFFF;
$light-tertiary-bg: #F5F5F5;
$light-header-bg: #FEFEFE;
$light-primary-text: #454545;
$light-secondary-text: #5E5E5E;
$light-black-75: rgba(0, 0, 0, 0.75);
$light-black-87: rgba(0, 0, 0, 0.87);
$light-black-5: rgba(0, 0, 0, 0.05);
$light-gray-secondary-text: #B3B3B3;
$light-date-text: #0006CC;
$light-border: 1px solid rgba(219, 219, 219, 1);
$light-blue-primary: #003B82;
$light-black-6: rgba(0, 0, 0, 0.6);
$light-black-03: rgba(0, 0, 0, 0.03);

// Dark Theme
$dark-primary-bg: #121212;
$dark-secondary-bg: #1e1e1e;
$dark-tertiary-bg: #2A2A2A;
$dark-header-bg: #1E1E1E;
$dark-primary-text: rgba(255, 255, 255, 0.87);
$dark-secondary-text: #FFFFFFB3;
$dark-gray-primary-text: rgba(255, 255, 255, 0.6);
$dark-gray-secondary-text: #e0e0e0;
$dark-date-text: #60A5FA;
$dark-border: 1px solid rgba(255, 255, 255, 0.24);
$dark-blue-primary: #FFFFFF;
$dark-black-87: rgba(255, 255, 255, 0.87);
$dark-black-6: rgba(255, 255, 255, 0.6);
$dark-black-03: rgba(56, 56, 56, 1);

:root {
  --primary: #{$light-orange};
  --primary-bg: #{$light-primary-bg};
  --secondary-bg: #{$light-secondary-bg};
  --tertiary-bg: #{$light-tertiary-bg};
  --header-bg: #{$light-header-bg};
  --primary-text: #{$light-primary-text};
  --secondary-text: #{$light-secondary-text};
  // --gray-primary-text: #{$light-gray-primary-text};
  // --gray-secondary-text: #{$light-gray-secondary-text};
  --date-text: #{$light-date-text};
  --border: #{$light-border};
  --blue-text: #{$light-blue-primary};

  --green: #00AA08;
  --red: #FF0000;
  --text-blue: #60A5FA;
  --blue-secondary: #0006cc;

  --gray-200: #F2F2F2;
  --gray-000: #F0F0F0;

  --black-87: #{$light-black-87};
  --black-6: #{$light-black-6};
  --black-03: #{$light-black-03};

}

[data-theme="dark"] {
  --primary: #{$dark-orange};
  --primary-bg: #{$dark-primary-bg};
  --secondary-bg: #{$dark-secondary-bg};
  --tertiary-bg: #{$dark-tertiary-bg};
  --header-bg: #{$dark-header-bg};
  --primary-text: #{$dark-primary-text};
  --secondary-text: #{$dark-primary-text};
  --gray-primary-text: #{$dark-gray-primary-text};
  --gray-secondary-text: #{$dark-gray-secondary-text};
  --date-text: #{$dark-date-text};
  --border: #{$light-border};
  --blue-text: #{$dark-blue-primary};
  --black-87: #{$dark-black-87};
  --black-6: #{$dark-black-6};
  --black-03: #{$dark-black-03};
  --gray-000: #121212;
}

// Apply globally
body {
  background: var(--primary-bg);
  color: var(--black-87);
  transition: background 0.3s ease, color 0.3s ease;
  padding: 0;
  margin: 0;
}

.button {
  background-color: var(--primary);
  color: var(--primary-text);
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.container {
  background-color: var(--tertiary-bg);
  color: var(--primary-text);
}

.bg-primary {
  background-color: var(--primary-bg) !important;
}

.bg-secondary {
  background-color: var(--secondary-bg) !important;
}

.bg-tertiary {
  background-color: var(--tertiary-bg) !important;
}

.bg-header {
  background-color: var(--header-bg) !important;
}

.text-gray-primary {
  color: var(--gray-primary-text);
}

.text-gray-secondary {
  color: var(--gray-secondary-text);
}

.bg-footer {
  background-color: var(--secondary-bg) !important;
}

.text-primary {
  color: var(--primary-text) !important;
}

.text-secondary {
  color: var(--secondary-text) !important;
}

.text-blue {
  color: var(--text-blue);
}

.bg-gray-200 {
  background-color: var(--gray-200);
}

.date-text {
  color: var(--date-text);
}