.card1 {
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 12px !important;
    overflow: hidden;
    background-color: var(--secondary-bg);
    // box-shadow: #64646f33 0 7px 29px;

    h5 {
        font-size: 18px;
    }
}

ul li::marker {
    font-size: 1.5em; /* Adjust size */
    color: #E5811E; /* Optional: Change color */
}

.subtit {
    background-color: var(--tertiary-bg);
}