header {
    position: sticky;
    top: -1px;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

footer {
    position: fixed;
    bottom: 0;
    // left: 0;
    width: 100%;
    z-index: 1000; 
    // padding: 10px 16px;
    max-width: 430px;
    height: 60px;
}

input[type="radio"] {
    accent-color: #DA6901;
    width: 22px;
    height: 22px;
}