:root {
    --primary-text-color: #007bff;
    --secondary-text-color: #999999;

    --primary-background-color: #009BD2;
    --secondary-background-color: #f8f9fa;
}

p {
    margin: 0 0 6px !important;
}
